/* CSS pour le composant App */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.app button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.app button:hover {
    background-color: #0056b3;
}
.Credits{
    color: gray;
}

/* CSS pour le composant Matiere */
.matiere {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.matiere h1 {
    margin-bottom: 20px;
    color: #007BFF;
}

.matiere div {
    margin-bottom: 10px;
}

.matiere label {
    display: block;
    margin-bottom: 5px;
}

.matiere input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.matiere button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.matiere button:hover {
    background-color: #0056b3;
}

